{% extends "layouts/base.html" %}
{% load render_bundle from webpack_loader %}

{% block css %}
    {% render_bundle 'main' 'css' 'BASE' %}
{% endblock css %}

{% block content %}
    <div class="jumbotron">
        <h1>¡Bienvenido!</h1>
        <br>
        <p><a href="{% url 'login' %}">Inicia Sesión</a> o <a href="{% url 'user_register' %}">Regístrate</a></p>
    </div>
    
    

{% endblock content %}
