<template>
    <div>
        <div :class="'alert ' + message.classType" role="alert" v-if="message.show">{{ message.message }}</div>
        <div>
            <button @click="addMovie" type="button" class="floating-action-button u-flex-center">
                <span class="glyphicon glyphicon-plus"></span> Agregar nueva película
            </button>
            <button @click="toggleFav" type="button" class="floating-action-button favorite u-flex-center pull-right" :class="{'active': showfav}">
                <div v-show="!showfav">
                    <span class="glyphicon glyphicon-eye-open" ></span> Ver favoritos
                </div>
                <div v-show="showfav">
                    <span class="glyphicon glyphicon-eye-close"></span> Ver todos
                </div>
            </button>
        </div>
        <br>
        <hr>
        <p class="text-center" v-show="busy">Cargando...</p>
        <div class="movie-list" v-show="!busy">
            <movie-element v-for="(movie, $index) in movies" v-bind:key="movie.id" v-bind:movie="movie" v-bind:inditem="$index"></movie-element>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    import MovieElement from './LandingPage/MovieElement.vue';

    export default {
        name: 'landing-page',
        data: () => ({
            message: {
                show: false,
                classType: '',
                message: '',
                timeout: null,
            },
            busy: false,
            showfav: false,
            movies: []
        }),
        components:  {
            'movie-element': MovieElement
        },
        mounted() {
            this.loadMovies()
        },
        methods: {
            loadMovies(byFavorite) {
                if(this.busy) return
                this.busy = true
                
                const params = {
                    'favorite': byFavorite ? 'yes': 'no'
                }               

                axios.get('/api/movie/', {
                    params: params
                })
                    .then((response) => {
                        this.movies = response.data
                        this.busy = false
                    })
                    .catch((error) => {
                        this.busy = false
                        this.alert("Error al obtener las películas.")
                    })
            },

            addMovie() {
                this.$router.push({ name: 'movie-new-page'})
            },
            
            alert(message, type) {
                let classType;

                clearTimeout(this.message.timeout)

                if(type == 'success')
                    classType = 'alert-success'
                else
                    classType = 'alert-danger'
                
                this.message.classType = classType
                this.message.message = message

                this.message.show = true

                this.message.timeout = setTimeout(() => {
                    this.message.show = false
                }, 3 * 1000);
            },

            toggleFav() {
                this.showfav = !this.showfav

                this.loadMovies(this.showfav)
            }
        }
    }
</script>
