<template>
    <div class="movie-form">
        <p v-if="busyLoad" class="text-center">Cargando...</p>
        <div v-if="error" class="alert alert-danger" role="alert">{{ error }}</div>
        <div v-if="!busyLoad && movie" class="card">
            <div class="card-body">
                <div class="page-header">
                    <h1>Modificar película</h1>
                </div>
                <form v-on:submit.prevent="onSubmit" v-show="!busy">
                    <div v-if="messageSuccess" class="alert alert-success" role="alert">{{ messageSuccess }}</div>
                    <div v-if="message" class="alert alert-danger" role="alert">{{ message }}</div>
                    <br>

                    <div class="form-group">
                        <label for="id_cover">Imagen</label>
                        <input type="file" id="id_cover" name="cover" ref="cover"/>
                        <p class="help-text">Recomendación de tamañi: 120 x 170 px</p>
                    </div>
                    <div class="form-group">
                        <label for="id_title">Título</label>
                        <input type="text" class="form-control" id="id_title" name="title" v-model="movie.title" placeholder="Título de la película">
                    </div>
                    <div class="form-group">
                        <label for="id_synopsis">Sinopsis</label>
                        <textarea class="form-control" name="synopsis" id="id_synopsis" rows="5" v-model="movie.synopsis"></textarea>
                    </div>
                    
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" v-model="movie.favorite" true-value="yes" false-value="no"> ¿Es tu favorita?
                        </label>
                    </div>
                    <br>
                    <br>
                    <router-link to="/" class="btn btn-link"><span class="glyphicon glyphicon-chevron-left"></span> Volver</router-link>
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                </form>
                <div v-show="busy">
                    <p class="text-center">Actualizando película...</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        name: 'movie-edit-page',
        data: () => ({
            message: false,
            messageSuccess: false,
            busyLoad: false,
            busy: false,
            title: '',
            synopsis: '',
            favorite: 'no',
            movie: null,
            error: false
        }),
        mounted() {
            let idMovie = this.$route.params.id

            this.busyLoad = true
            this.error = false

            // Get movie
            axios.get(`/api/movie/${idMovie}/`)
                .then((response) => {
                    this.onLoad(response.data)

                    this.busyLoad = false
                })
                .catch((error) => {
                    this.busyLoad = false
                    this.error = "Error al obtener la película."
                })
        },
        methods: {
            onLoad(data) {
                data.favorite = data.favorite ? 'yes' : 'no'

                this.movie = data
            },
            onSubmit() {
                this.busy = true
                this.message = false

                const form = this.retrieveForm();

                axios.put(`/api/movie/${this.movie.id}/`, form, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
                .then((response) => {
                    this.messageSuccess ="¡Felicitaciones! Hemos registrado tu película."
                    setTimeout(() => {
                        this.$router.push({ name: 'landing-page'})
                    }, 2 * 1000);
                })
                .catch((error) => {
                    this.message ="Error con el servidor. Intenta de nuevo más tarde."
                    this.busy = false
                })
            },

            retrieveForm() {
                let formData = new FormData();

                formData.append('title', this.movie.title)
                formData.append('synopsis', this.movie.synopsis)
                formData.append('favorite', this.movie.favorite)

                if(this.$refs.cover.files.length > 0)
                    formData.append('cover', this.$refs.cover.files[0])

                return formData;
            }
        }
    }
</script>
