<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#nav-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Películas</a>
        </div>
        <div class="collapse navbar-collapse" id="nav-collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ user.first_name|default:user.username }}</a></li>
                    <li><a href="/logout">Cerrar sesión</a></li>
                {% else %}
                    <li><a href="/login">Iniciar sesión</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>