<template>
    <div class="movie-form card">
        <div class="card-body">
            <div class="page-header">
                <h1>Nueva película</h1>
            </div>
            <form v-on:submit.prevent="onSubmit" v-show="!busy">
                <div v-if="messageSuccess" class="alert alert-success" role="alert">{{ messageSuccess }}</div>
                <div v-if="message" class="alert alert-danger" role="alert">{{ message }}</div>
                <br>

                <div class="form-group">
                    <label for="id_cover">Imagen</label>
                    <input type="file" id="id_cover" name="cover" ref="cover"/>
                    <p class="help-text">Recomendación de tamañi: 120 x 170 px</p>
                </div>
                <div class="form-group">
                    <label for="id_title">Título</label>
                    <input type="text" class="form-control" id="id_title" name="title" v-model="title" placeholder="Título de la película">
                </div>
                <div class="form-group">
                    <label for="id_synopsis">Sinopsis</label>
                    <textarea class="form-control" name="synopsis" id="id_synopsis" rows="5" v-model="synopsis"></textarea>
                </div>
                
                <div class="checkbox">
                    <label>
                        <input type="checkbox" v-model="favorite" true-value="yes" false-value="no"> ¿Es tu favorita?
                    </label>
                </div>
                <br>
                <br>
                <router-link to="/" class="btn btn-link"><span class="glyphicon glyphicon-chevron-left"></span> Volver</router-link>
                <button type="submit" class="btn btn-primary">Agregar</button>
            </form>
            <div v-show="busy">
                <p class="text-center">Publicando película...</p>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        name: 'movie-new-page',
        data: () => ({
            message: false,
            messageSuccess: false,
            busy: false,
            title: '',
            synopsis: '',
            favorite: 'no',
        }),
        methods: {
            onSubmit() {
                this.busy = true
                this.message = false

                const form = this.retrieveForm();

                axios.post('/api/movie/', form, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                })
                .then((response) => {
                    this.messageSuccess ="¡Felicitaciones! Hemos registrado tu película."
                    setTimeout(() => {
                        this.$router.push({ name: 'landing-page'})
                    }, 2 * 1000);
                })
                .catch((error) => {
                    this.message ="Error con el servidor. Intenta de nuevo más tarde."
                    this.busy = false
                })
            },

            retrieveForm() {
                let formData = new FormData();

                formData.append('title', this.title)
                formData.append('synopsis', this.synopsis)
                formData.append('favorite', this.favorite)

                if(this.$refs.cover.files.length > 0)
                    formData.append('cover', this.$refs.cover.files[0])

                return formData;
            }
        }
    }
</script>
