<template>
    <div class="col-sm-12 col-md-6">
        <div class="card u-clearfix">
            <div class="card-media">
                <div class="card-media-img">
                    <img :src="'/media/'+ movie.cover" alt="" />
                </div>
                <div class="card-media-preview u-flex-center">
                    <router-link :to="'/movie/' + movie.id +'/edit'">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </router-link>
                </div>
            </div>

            <div class="card-body">
                <h2 class="card-body-heading">{{ movie.title }}</h2>
                <div class="card-body-options">
                    <div class="card-body-option card-body-option-favorite" v-if="!movie.favorite" title="¿Es de tus favoritas?">
                        <svg fill="#9C948A" height="26" viewBox="0 0 24 24" width="26" xmlns="http://www.w3.org/2000/svg" @click.capture="toggleFavorite(true)">
                            <path d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z" />
                        </svg>
                    </div>
                    <div class="card-body-option card-body-option-favorite" v-if="movie.favorite">
                        <svg fill="#9C948A" height="26" viewBox="0 0 24 24" width="26" xmlns="http://www.w3.org/2000/svg" @click.capture="toggleFavorite(false)">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                        </svg>
                    </div>
                </div>
                <br>
                <router-link :to="'/movie/' + movie.id +'/view'" class="card-button card-button-link">
                    Ver más
                    <span class="card-button-icon">
                        <svg fill="#9C948A" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none" />
                            <path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z" />
                        </svg>
                    </span>
                </router-link>
            </div>

        </div>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        name: 'movie-element',
        props: ['movie', 'inditem'],
        methods: {
            toggleFavorite(status) {
                if(typeof status === 'undefined')
                    status = !this.movie.favorite
                
                this.movie.favorite = status
                this.postStatus()
            },
            revertStatusFavorite(){
                this.movie.favorite = !this.movie.favorite
            },
            postStatus() {
                axios.post(`/api/movie/${this.movie.id}/status/`, {
                    status: Number(this.movie.favorite)
                })
                    .then(() => {})
                    .catch(error => {
                        if(error.response.data && 'error' in error.response.data)
                            this.$parent.alert(error.response.data.error)
                        
                        this.revertStatusFavorite()
                    })
            }
        }
    }
</script>