<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>{% block title %} Home {% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
            integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

        {% block css %}{% endblock css %}
    </head>
    <body>
        {# Header #}
        {% include "main/partials/header.html" %}

        {# Content #}
        <div class="container">
            {% block content %}{% endblock content %}
        </div>

        {% block js %}{% endblock js %}
    </body>
</html>