{% extends "layouts/base.html" %}

{% block title %}Inicio de sesión{% endblock title %}

{% block content %}
<br /> 
<br /> 
<div class="row">
    <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>Iniciar sesión</h2>
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">El usuario y/o la contraseña son incorrectos.</div>
                {% endif %}

                <br>

                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username" class="control-label">Usuario</label>
                        <input type="text" class="form-control" id="username" name="username" required tabindex="1" value="{{ form.username.value|default_if_none:"" }}" autofocus>
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" required tabindex="2">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success pull-right">Ingresar</button>
                        <a href="{% url 'home' %}" type="submit" class="btn btn-link pull-right">Volver</a>
                        <input type="hidden" name="next" value="{{ next }}" />
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

{% endblock %}