{% extends "layouts/base.html" %}

{% block title %}Inicio de sesión{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="title-division">
                        <h2>Nuevo Registro</h2>
                        <hr>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        {% if message %}
                        <div class="alert alert-danger" role="alert">{{ message }}</div>
                        {% endif %}
                        <br>

                        <form class="form-sp" method="POST" action="/register/">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="full_name" class="control-label">Nombre : *</label>
                                <input type="text" class="form-control" id="full_name" name="full_name" required tabindex="1"
                                    value="{{ inputs.full_name }}">
                            </div>
                            <div class="form-group">
                                <label for="email" class="control-label">E-mail : *</label>
                                <input type="email" class="form-control" id="email" name="email" required tabindex="2"
                                    placeholder="(Nombre de usuario)" value="{{ inputs.email }}">
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label">Contraseña : *</label>
                                <input type="password" class="form-control" id="password" name="password" required tabindex="4">
                            </div>
                            <div class="form-group">
                                <label for="password_confirmation" class="control-label">Repita la Contraseña : *</label>
                                <input type="password" class="form-control" id="password_confirmation" name="password_confirmation" required
                                    tabindex="5">
                            </div>
                            <input type="hidden" name="next" value="{{ next }}">
                            <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success pull-right">Registrarse</button>
                                    <a href="{% url 'home' %}" type="submit" class="btn btn-link pull-right">Volver</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}